<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="istd.eric.myapp1checkoffs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="My Android Application"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Checkoff2Activity" />
        <activity android:name=".Checkoff2Activity_page2" />
        <activity android:name=".Checkoff2Activity_emailpage" />
        <activity android:name=".Checkoff3Activity" />
        <activity
            android:name=".CheckoffHW1Activity"
            android:label="@string/title_activity_checkoff_hw1"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="istd.eric.myapp1checkoffs.MainActivity" />
        </activity>
        >
        <activity
            android:name=".CheckoffHW1Activity_FirstItem"
            android:label="1st Item Detail"
            android:parentActivityName=".CheckoffHW1Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="istd.eric.myapp1checkoffs.CheckoffHW1Activity" />
        </activity>
        <activity android:name=".CheckoffFilesActivity" />
        <activity android:name=".CheckoffMapActivity" />
        <activity android:name=".CheckoffCameraActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="istd.eric.myapp1checkoffs"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".CheckoffFirebaseActivity" />
        <activity
            android:name=".CheckoffSQLActivity"
            android:label="Student Particulars password" />
        <activity
            android:name=".CheckoffSQLActivity_entry"
            android:label="Student Particulars SQL" />
        <activity android:name=".CheckoffClientActivity" />
        <activity android:name=".CheckoffServerActivity"></activity>
    </application>

</manifest>